.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.page {
  background-image: url(./img/NCB1.png), url(./img/Teller.png);
  background-size: 400px 130px;
  background-position:
    2% 2%,
    98% 2%;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.headerPage {
  font-size: 5rem;
}
.question ol li {
  padding: 1.2rem;
  font-size: 25px;
}
.question {
  width: 800px;
  padding: 1.2rem;
}
